@media (max-width: 767px) {
    .no-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.menu {
    padding-left: 20px;
    padding-right: 20px;
}

.white, .white a {
    color: #fff;
}
